<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栄養バランスに合わせて、鳥貴族のメニューを出すやつ</title>
</head>
<body>
    <h1>栄養バランスに合わせて、鳥貴族のメニューを出すやつ</h1>
    <form method="post" action="/solve">
        <div>
            <label for="protein_min">Minimum Protein (g):</label><br>
            <input type="number" id="protein_min" name="protein_min" placeholder="Minimum Protein" value="50"><br>
            <small>タンパク質の最小量を入力してください</small>
        </div>
        <br>
        <div>
            <label for="salt_max">Maximum Salt (mg):</label><br>
            <input type="number" id="salt_max" name="salt_max" placeholder="Maximum Salt" value="10"><br>
            <small>塩分の最大量を入力してください</small>
        </div>
        <br>
        <div>
            <label for="carbs_max">Maximum Carbs (g):</label><br>
            <input type="number" id="carbs_max" name="carbs_max" placeholder="Maximum Carbs" value="50"><br>
            <small>炭水化物の最大量を入力してください</small>
        </div>
        <br>
        <div>
            <label for="fat_max">Maximum Fat (g):</label><br>
            <input type="number" id="fat_max" name="fat_max" placeholder="Maximum Fat" value="10"><br>
            <small>脂質の最大量を入力してください</small>
        </div>
        <br>
        <div>
            <label for="calories_max">Maximum Calories:</label><br>
            <input type="number" id="calories_max" name="calories_max" placeholder="Maximum Calories" value="1000"><br>
            <small>カロリーの最大量を入力してください</small>
        </div>
        <br>
        <div>
            <label for="human_rights_ave">Average Human Rights:</label><br>
            <input type="number" id="human_rights_ave" name="human_rights_ave" placeholder="Average Human Rights" value="2"><br>
            <small>食べたいものの人権度を入れてください</small>
        </div>
        <br>
        <div>
            <label for="min_items">Minimum Items:</label><br>
            <input type="number" id="min_items" name="min_items" placeholder="Minimum Number of Items" value="3"><br>
            <small>メニューの最低数を入力してください</small>
        </div>
        <br>
        <div>
            <label for="max_items">Maximum Items:</label><br>
            <input type="number" id="max_items" name="max_items" placeholder="Maximum Number of Items" value="5"><br>
            <small>メニューの最大数を入力してください</small>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
